<main>
    {{#if loginPage}}
        <h1 style="background-color: #2874f0;">Welcome to NodeJS Shopping Application</h1>
    {{/if}}

    <form method="POST" action="/login" class="login-container">
        <div>
            <span>Email:</span><input type="email" name="email"><br>
        </div>
        <div>
            <span>Password:</span><input type="password" name="password"><br>
        </div>
        <button type="submit" style="cursor: pointer;">Login</button>
         <div class="signup-login">
            <a href="/reset">Reset Password</a>
        </div>
        <div style="padding: 1rem;width: 40%;margin: 0 auto;border: 1px solid;margin-top: 2rem;">
            <span style="color: cadetblue;font-weight: bold;">New here?</span> <a style="color:black" href="/signup">Sign up Now!</a>
        </div>

       
        
        <input type="hidden" name="_csrf" value={{csrfToken}}>      

    </form>
     

   
   {{#if errorMessage}}
        <p>{{errorMessage}}</p>
    {{/if}}
    
    
   
</main>
